html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  background: #007aff;
}

::-webkit-scrollbar-thumb:hover {
  background: #0b6bb6;
}
