/* styles.css */

.scrollable {
    height: 300px;
    /* Высота контейнера */
    overflow-y: auto;
    /* Вертикальная прокрутка */
    border: 1px solid #ccc;
    /* Граница */
    border-radius: 8px;
    /* Закругленные углы */
    padding: 16px;
    /* Внутренние отступы */
}

/* Стили для скроллбара */
::-webkit-scrollbar {
    width: 5px;
    /* Ширина скроллбара */
}

::-webkit-scrollbar-track {
    background: unset;
}

::-webkit-scrollbar-thumb {
    background: #007aff;
}

::-webkit-scrollbar-thumb:hover {
    background: #0B6BB6;
}